<!-- page-banner-section 
			================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>Đăng ký</h1>
        {{!-- <span>reservation</span> --}}
    </div>
</section>
<!-- End page-banner section -->

<!-- page-ban-list -->
<div class="container">
    <ul class="page-ban-list">
        <li><a href="/index">Trang chủ</a></li>
        <li><a href="/users/register">Đăng ký</a></li>
    </ul>
</div>
<!-- end page-ban-list -->


<!-- contact-section 
			================================================== -->
<section class="contact-section">
    <div class="container">
        <div class="contact-box">
            <div class="title-section">
                <h2>Đăng ký</h2>
                <span>Tham gia ngay với chúng tôi để trải nghiệm nhiều tính năng với chất lượng tốt nhất</span>
            </div>
            <form id="reservation-form" action="/users/register" method="POST">
                <div class="">
                    <label for="account">Tài khoản</label>
                    <input name="account" id="account" type="text" placeholder="Tên đăng nhập">
                </div>

                <div class="">
                    <label for="password">Mật khẩu</label>
                    <input name="pass" id="pass" type="password" placeholder="Mật khẩu">
                </div>

                <div class="">
                    <label for="password">Nhắc lại mật khẩu</label>
                    <input name="pass-repeat" id="pass" type="password" placeholder="Mật khẩu">
                </div>

                <div class="center-button">
                    <button class="button-two">Đăng ký</button>
                    <a href="/users/login" class="button-one">Đăng nhập</a>
                </div>
            </form>
        </div>

    </div>
</section>
<!-- End contact section -->

<!-- map section -->
<div id="map"></div>
<!-- end map section -->