<!-- home-section 
			================================================== -->
<section id="home-section">
    <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
        <div id="rev_slider_202_1" class="rev_slider fullscreenbanner" data-version="5.1.1RC">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-672" data-transition="slidingoverlaydown" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="upload/slider/slide1.jpg" data-rotate="0" data-saveperformance="off" data-title="unique"
                    data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/upload/slider/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->


                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2" id="slide-672-layer-1" data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']" data-fontsize="['90','70','56','36']"
                        data-lineheight="['86','72','48','36']" data-voffset="['-50','-30','-20','-10']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">Sài Gòn <br>
                        <span style="color:#ea462b;">Food</span>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-672-layer-2" data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['70','60','50','40']"
                        data-fontsize="['26','24','22','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                        data-start="1600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                        Đưa đến cho bạn vạn đồ ăn NGON.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-672-layer-3" data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['130','120','110','100']"
                        data-fontsize="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                        data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                        <a class="button-two" href="/single-food">Tìm hiểu thêm</a>
                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-index="rs-673" data-transition="slidingoverlayup" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="upload/slider/slide2.jpg" data-rotate="0" data-saveperformance="off" data-title="ideas"
                    data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/upload/slider/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Concept-Title tp-resizeme rs-parallaxlevel-2" id="slide-673-layer-1" data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']" data-fontsize="['90','70','56','36']"
                        data-lineheight="['86','72','48','36']" data-voffset="['-50','-30','-20','-10']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                        data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">Sài Gòn<br>
                        <span style="color:#ea462b;">Food</span>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-673-layer-2" data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['70','60','50','40']"
                        data-fontsize="['26','24','22','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                        data-start="1600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                        Đưa đến cho bạn vạn đồ ăn NGON.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Concept-SubTitle tp-resizeme rs-parallaxlevel-2" id="slide-673-layer-3" data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['130','120','110','100']"
                        data-fontsize="['20','20','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                        data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                        <a class="button-two" href="/single-food">Tìm hiểu thêm</a>
                    </div>

                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>
<!-- End home section -->

<!-- banner-section 
			================================================== -->
<section class="banner-section">
    <div class="container">
        <div class="banner-box">
            <h3>Món ăn ngon nhất trong tuần</h3>
            <h2>Bánh mì<br> PEWPEW
            </h2>
            <span class="price">
						30.000đ
					</span>
            <a href="/single-food" class="button-two">Tìm hiểu thêm</a>
        </div>
    </div>
</section>
<!-- End banner section -->

<!-- popular-menu-section 
			================================================== -->
<section class="popular-menu-section">
    <div class="container">
        <div class="title-section">
            <h2>Popular Dishes</h2>
            <span>Try the delicious new dishes from our chef.</span>
        </div>
        <div class="popular-menu-box owl-wrapper">

            <div class="owl-carousel" data-num="3">

                <div class="item">
                    <div class="popular-menu-post">
                        <img src="/upload/menu/1.jpg" alt="">
                        <h3>Classic Havana Burger</h3>
                        <p>Grilled beef patty, Turkey rashes, and burger relish.</p>
                        <span class="price">$ 21.00</span>
                        <a href="/single-food" class="button-one">Tìm hiểu thêm</a>
                    </div>
                </div>

                <div class="item">
                    <div class="popular-menu-post">
                        <img src="/upload/menu/2.jpg" alt="">
                        <h3>Bufalo Mozzarella</h3>
                        <p>Grilled beef patty, Turkey rashes, and burger relish.</p>
                        <span class="price">$ 16.50</span>
                        <a href="/single-food" class="button-one">Tìm hiểu thêm</a>
                    </div>
                </div>

                <div class="item">
                    <div class="popular-menu-post">
                        <img src="/upload/menu/3.jpg" alt="">
                        <h3>Cheese Royale Burger</h3>
                        <p>Grilled beef patty, Turkey rashes, and burger relish.</p>
                        <span class="price">$ 13.50</span>
                        <a href="/single-food" class="button-one">Tìm hiểu thêm</a>
                    </div>
                </div>

                <div class="item">
                    <div class="popular-menu-post">
                        <img src="/upload/menu/4.jpg" alt="">
                        <h3>Classic Havana Burger</h3>
                        <p>Grilled beef patty, Turkey rashes, and burger relish.</p>
                        <span class="price">$ 21.00</span>
                        <a href="/single-food" class="button-one">Tìm hiểu thêm</a>
                    </div>
                </div>

                <div class="item">
                    <div class="popular-menu-post">
                        <img src="/upload/menu/5.jpg" alt="">
                        <h3>Bufalo Mozzarella</h3>
                        <p>Grilled beef patty, Turkey rashes, and burger relish.</p>
                        <span class="price">$ 19.00</span>
                        <a href="/single-food" class="button-one">Tìm hiểu thêm</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End popular-menu section -->

<!-- services-section 
			================================================== -->
<section class="services-section">
    <div class="container">
        <div class="services-box">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="services-post">
                        <img src="/images/icon1.png" alt="">
                        <h3>Fresh Ingredients</h3>
                        <p>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="services-post">
                        <img src="/images/icon2.png" alt="">
                        <h3>Best Recipe</h3>
                        <p>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="services-post">
                        <img src="/images/icon3.png" alt="">
                        <h3>Happy Clients</h3>
                        <p>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="services-post">
                        <img src="/images/icon4.png" alt="">
                        <h3>Vegan Menu</h3>
                        <p>Sed egestas, ante vulputa eros pede vitae luctus metus augue.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services section -->

<!-- banner-section 
			================================================== -->
<section class="banner-section2">
    <div class="container">
        <div class="banner-box">
            <h2>Đăng ký ngay</h2>
            <h3>Đăng ký ngay tài khoản để nhận được nhiều ưu đãi từ các quán ăn nổi tiếng Sài Gòn.</h3>
            <a href="/users/register" class="button-two">Đăng ký</a>
        </div>
    </div>
</section>
<!-- End banner section -->

<!-- menu-section 
			================================================== -->
<section class="menu-section">
    <div class="menu-box pizza-menu">
        <div class="container">
            <h1>Các quán ăn hot nhất</h1><br><br>
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="image-holder">
                        <img src="/upload/others/ab1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <div class="menu-holder">
                        <h2>Pizza</h2>
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th1.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Oakey Smokey Pizza</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th2.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">White Ricotta Pizza</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th3.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Original Margherita Pizza</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th4.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Calzone</span>
                                        <span class="price">$23.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th5.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Mercy Margarita</span>
                                        <span class="price">$18.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box pasta-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="menu-holder">
                        <h2>Pasta</h2>
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th6.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Spaghetti all’Amatriciana</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th7.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Spaghetti Carbonara</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th8.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Lasagna</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <div class="image-holder">
                        <img src="/upload/others/ab2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box burger-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="image-holder">
                        <img src="/upload/others/ab3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <div class="menu-holder">
                        <h2>Burger</h2>
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th9.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">The Double Barrel Meat Feast</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th10.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Classic Havana Burger</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th11.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Single BBQ Chicken Burger</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th12.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Havana Speical Burger Combo</span>
                                        <span class="price">$23.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End menu section -->

<!-- testimonial-section 
			================================================== -->
<section class="testimonial-section">
    <div class="container">
        <div class="title-section">
            <h2>Nhận xét</h2>
            <span>Cảm nhận của mọi người</span>
        </div>
        <div class="testimonial-box owl-wrapper">

            <div class="owl-carousel" data-num="3">

                <div class="item">
                    <div class="testimonial-post">
                        <img src="/upload/others/test1.jpg" alt="">
                        <h3>Corben Naylor</h3>
                        <span>Chef</span>
                        <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis. ”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <img src="/upload/others/test2.jpg" alt="">
                        <h3>Rhiana Fields</h3>
                        <span>Designer</span>
                        <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis. ”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <img src="/upload/others/test3.jpg" alt="">
                        <h3>Jane Avila</h3>
                        <span>Manager</span>
                        <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis. ”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <img src="/upload/others/test1.jpg" alt="">
                        <h3>Corben Naylor</h3>
                        <span>Chef</span>
                        <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis. ”</p>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <img src="/upload/others/test2.jpg" alt="">
                        <h3>Rhiana Fields</h3>
                        <span>Designer</span>
                        <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis. ”</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End testimonial section -->

<!-- gallery-section 
			================================================== -->
<section class="gallery-section">
    <a href="/upload/gallery/1.jpg" class="zoom">
        <img src="/upload/gallery/1.jpg" alt="">
    </a>
    <a href="/upload/gallery/2.jpg" class="zoom">
        <img src="/upload/gallery/2.jpg" alt="">
    </a>
    <a href="/upload/gallery/3.jpg" class="zoom">
        <img src="/upload/gallery/3.jpg" alt="">
    </a>
    <a href="/upload/gallery/4.jpg" class="zoom">
        <img src="/upload/gallery/4.jpg" alt="">
    </a>
</section>
<!-- End gallery section -->

<!-- news-section 
			================================================== -->
<section class="news-section">
    <div class="container">
        <div class="title-section white-style">
            <h2>Thông tin mới nhất</h2>
            <span>Các thông tin trong ngày</span>
        </div>
        <div class="news-box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="news-post">
                        <img src="/upload/blog/1.jpg" alt="">
                        <div class="news-content">
                            <h3><a href="/single-post">Etiam sodales, erat non.</a></h3>
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis.</p>
                            <p class="auth-paragraph">
                                24.04.2020 / <a href="/single-post">2 comments</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="news-post">
                        <img src="/upload/blog/2.jpg" alt="">
                        <div class="news-content">
                            <h3><a href="/single-post">Quisque volutpat mattis.</a></h3>
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis.</p>
                            <p class="auth-paragraph">
                                24.04.2020 / <a href="/single-post">2 comments</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="news-post">
                        <img src="/upload/blog/3.jpg" alt="">
                        <div class="news-content">
                            <h3><a href="/single-post">Cras iaculis ultricies nulla.</a></h3>
                            <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellente squefelis.</p>
                            <p class="auth-paragraph">
                                24.04.2020 / <a href="/single-post">2 comments</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-button">
                <a href="/blog" class="button-one">Xem tất cả</a>
            </div>
        </div>
    </div>
</section>
<!-- End news section -->