<!-- page-banner-section 
			================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>Our Menu 1</h1>
        <span>good food fresh ingredients</span>
    </div>
</section>
<!-- End page-banner section -->

<!-- page-ban-list -->
<div class="container">
    <ul class="page-ban-list">
        <li><a href="/index">Home</a></li>
        <li><a href="/restaurant">Our Menu 1</a></li>
    </ul>
</div>
<!-- end page-ban-list -->

<!-- menu-section 
			================================================== -->
<section class="menu-section">
    <div class="menu-box pizza-menu">
        <div class="container">
            <div class="title-section">
                <h2>Pizza</h2>
                <span>Try the delicious new dishes from our chef.</span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/6.jpg" alt="">
                        <h3>Oakey Smokey Pizza</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 21.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/5.jpg" alt="">
                        <h3>White Rocotta Pizza</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 24.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/7.jpg" alt="">
                        <h3>Original Margherita Pizza</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 22.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/8.jpg" alt="">
                        <h3>Calzone</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 23.50</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/9.jpg" alt="">
                        <h3>Mercy Margarita</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 18.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/10.jpg" alt="">
                        <h3>Napoletana</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 19.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box pasta-menu">
        <div class="container">
            <div class="title-section">
                <h2>Pasta</h2>
                <span>Try the delicious new dishes from our chef.</span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/11.jpg" alt="">
                        <h3>Spaghetti all’Amatriciana</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 21.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/12.jpg" alt="">
                        <h3>Spaghetti Carbonara</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 24.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/4.jpg" alt="">
                        <h3>Lasagna</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 22.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box burger-menu">
        <div class="container">
            <div class="title-section">
                <h2>Burgers</h2>
                <span>Try the delicious new dishes from our chef.</span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/13.jpg" alt="">
                        <h3>Cheese Royale Burger</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 21.00</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/14.jpg" alt="">
                        <h3>Single BBQ Chicken Burger</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 8.50</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="/upload/menu/15.jpg" alt="">
                        <h3>The Double Barrel Meat Feast</h3>
                        <p>Tomato sauce, mozzarella, anchovies, oregano, basil</p>
                        <span class="price">$ 22.50</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End menu section -->