<!-- page-banner-section 
			================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>Our Menu 2</h1>
        <span>good food fresh ingredients</span>
    </div>
</section>
<!-- End page-banner section -->

<!-- page-ban-list -->
<div class="container">
    <ul class="page-ban-list">
        <li><a href="/index">Home</a></li>
        <li><a href="/menu2">Our Menu 2</a></li>
    </ul>
</div>
<!-- end page-ban-list -->

<!-- menu-section 
			================================================== -->
<section class="menu-section style-two">
    <div class="menu-box pizza-menu">
        <div class="container">
            <div class="menu-title">
                <h2>Pizza</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th1.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Oakey Smokey Pizza</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th2.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">White Ricotta Pizza</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th3.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Original Margherita Pizza</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th4.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Calzone</span>
                                        <span class="price">$23.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th5.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Mercy Margarita</span>
                                        <span class="price">$18.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box pasta-menu">
        <div class="container">
            <div class="menu-title">
                <h2>Pasta</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th6.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Spaghetti all’Amatriciana</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th7.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Spaghetti Carbonara</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th8.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Lasagna</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box burger-menu">
        <div class="container">
            <div class="menu-title">
                <h2>Burgers</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th9.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">The Double Barrel Meat Feast</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th10.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Classic Havana Burger</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th11.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Single BBQ Chicken Burger</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th12.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Havana Speical Burger Combo</span>
                                        <span class="price">$23.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-box desert-menu">
        <div class="container">
            <div class="menu-title">
                <h2>Deserts</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th13.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">The Double Barrel Meat Feast</span>
                                        <span class="price">$21.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th14.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Classic Havana Burger</span>
                                        <span class="price">$24.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="menu-holder">
                        <ul class="menu-list">
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th15.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Single BBQ Chicken Burger</span>
                                        <span class="price">$22.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-box">
                                    <img src="/upload/menu/th16.jpg" alt="">
                                </div>
                                <div class="menu-cont">
                                    <h4>
                                        <span class="title-menu">Havana Speical Burger Combo</span>
                                        <span class="price">$23.00</span>
                                    </h4>
                                    <p>Smoke mozzarella, basil and picorino Romano</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End menu section -->

<!-- banner-section 
			================================================== -->
<section class="banner-section2">
    <div class="container">
        <div class="banner-box">
            <h2>Book a Table</h2>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedolorm reminusto doeiusmod tempor condorico consectetur adipiscing elitut aliquip.</h3>
            <a href="/reservation" class="button-two">Reservation</a>
        </div>
    </div>
</section>
<!-- End banner section -->